<div>
    <h1>Welcome to Spring-angular application</h1>
    <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
        <form>
            <md-input-container>
                <label for="username">Username</label>
                <input id="username" type="text">
            </md-input-container>

            <md-input-container>
                <label for="password">Password</label>
                <input id="password" type="password">
            </md-input-container>
        </form>
    </md-content>
</div>