$main-background: whitesmoke;
$main-top: 50px;
$sidebar-button-width: 40px;
$sidebar-button-height: 40px;
$sidebar-button-background: none;
$sidebar-button-un-toggled-color: whitesmoke;
$sidebar-button-toggled-color: #101010;
$sidebar-button-toggled-font-size: 24px;