<div class="container center-in">
    <div class="jumbotron">
        <h1>Welcome to Spring-angular project</h1>
        <h5>Version 1.0</h5>
        <h5>Concept by Jerico de Guzman</h5>


        <form role="form" class="login-form" ng-submit="login(username,password)">

            <h2 class="text-primary">Login</h2>

            <div class="col-lg-6  form-group form-group-lg">
                <label class="control-label" for="usernameField">Username</label>
                <input class="form-control" id="usernameField" ng-model="username">
            </div>
            <div class="col-lg-6 form-group form-group-lg">
                <label class="control-label" for="passwordField">Password</label>
                <input type="password" class="form-control" id="passwordField" ng-model="password">
            </div>

            <button class="btn btn-info" type="submit">Submit</button>
        </form>
    </div>
</div>
